* {
   padding: 0px;
   margin: 0px;
}

main{
   width: 1240px;
   margin: auto;
}

header{
   display: grid;
   grid-template-columns: 55px 1fr;
   align-items: center;
   gap: 10px;
   width: 100%;
   height: 65px;
   background-color: black;
   margin-bottom: 2em;
   padding: 10px 20px;
}

.div_header{
   display: grid;
   grid-template-columns: 35px 85px;
   align-items: center;
   gap: 10px;
}

.div_header_user{
   display: grid;
   grid-template-columns: 60px 45px;
   align-items: center;
   gap: 10px;
}

header a{
   text-decoration: none;
   color: white;
}

.h2_message{
   text-align: center;
}

.form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   width: 400px;
   background-color: gainsboro;
   border: none;
   border-radius: 3px;
   margin: auto;
}

.padding_form{
    padding-bottom: 25px;
}

.form h2{
   color: white;
   margin-top: 1em;
   margin-bottom: 5px;
   width: 210px;
   text-align: center;
}

.form_reg{
   background-color: #26282C;
}

.form_auth{
   background-color: #26282C;
}

.form_link{
   background-color: #26282C;
}

.div_reg h3{
   margin-top: 1em;
}

.div_reg button{
   margin-bottom: 2.5em;
}

.div_auth h3{
   margin-top: 1em;
}

.div_auth button{
   margin-bottom: 2.5em;
}

.form p{
   padding: 0px;
   margin: 0px;
}

button{
   background-color: white;
   border: 1px solid black;
   border-radius: 3px;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
}

.div_profile_link{
   display: grid;
   grid-template-columns: 1fr 1fr 35px 1fr 25px 25px;
   align-items: center;
   gap: 10px;
   padding: 5px;
   border-bottom: 1px solid black;
}

.form_input{
   outline: none;
   border: none;
   border-bottom: 1px solid black;
   background-color: #26282C;
   padding: 5px;
   border: 1px solid white;
   border-left: none;
   color: white;
}

.form_auth_img{
   width: 25px;
   height: 25px;
   border: 1px solid black;
   padding: 5px;
   filter: invert(1);
}

.form_link_img{
   width: 25px;
   height: 25px;
   border: 1px solid black;
   padding: 5px;
   filter: invert(1);
}

.div_auth div{
   display:grid;
   grid-template-columns: auto 1fr;
   justify-content: center;
   width: 210px;
}

.div_reg div{
   display:grid;
   grid-template-columns: auto 1fr;
   justify-content: center;
   width: 210px;
}

.form_link{
   width: 500px;
}

.form_link h2{
   width: 300px;
}

.form_link div{
   display:grid;
   grid-template-columns: auto 1fr;
   justify-content: center;
   width: 300px;
}

.form_link select{
   outline: none;
   border: none;
   border-bottom: 1px solid black;
   background-color: #26282C;
   padding: 5px;
   border: 1px solid white;
   border-left: none;
   color: white;
}

.form_auth_btn{
   background-color: #9bbb56;
   color: white;
   border: none;
   width: 210px;
}

.form_reg_btn{
   background-color: #9bbb56;
   color: white;
   border: none;
   width: 210px;
}

.form_link_btn{
   background-color: #9bbb56;
   color: white;
   border: none;
   width: 300px;
}

.error{
   color: brown;
}

.div_profile_link button{
   padding: 0px;
   border: none;
   cursor: pointer;
}

.profile_img{
   width: 25px;
   height: 25px;
   filter: invert(0);
}

.form_edit{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
   width: 400px;
   margin: auto;
   background-color: #26282C;
   color: white;
}

.form_edit_input{
   width: 300px;
   background-color: #26282C;
   padding: 5px;
   border: 1px solid white;
   color: white;
}

.form_edit_btn{
   background-color: #9bbb56;
   color: white;
   border: none;
   width: 210px;
   margin-bottom: 2em;
}

.form_edit_label{
   width: 300px;
   padding: 5px;
}

.form_edit h2{
   width: 300px;
   margin-top: 1em;
}

.form_edit_div{
   display flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.a{
   width: 210px;
   text-align: center;
   text-decoration: none;
   color: grey;
   padding-top: 10px;
}