{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <main>
    <form class="form_link form" method="post">
      <h2>Сокращение ссылки</h2>
      <div>
        <img class="form_link_img" src="/static/img/link.svg">
        <input class="form_input" type="text" name="long_link" placeholder="Введите ссылку">
      </div>
      <div>
        <img class="form_link_img" src="/static/img/access.svg">
        <select name="accesses">
          <option value="1">публичный</option>
          <option value="2">общий</option>
          <option value="3">приватный</option>
        </select>
      </div>
      <div>
        <img class="form_link_img" src="/static/img/text.svg">
        <input class="form_input" type="text" name="pseudonym" placeholder="Псевдоним">
      </div>
      <button class="form_link_btn">Сократить</button>
      <p class="error">{{massage}}</p>
    </form>
  </main>
{% endblock %}