{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
  <main>
      <div class="div_reg">
        <form class="form_reg form" method="post">
          <h2>Регистрация</h2>
          <div>
            <img class="form_auth_img" src="/static/img/user.svg">
            <input class="form_input" type="text" name="login" placeholder="Логин">
          </div>
          <div>
            <img class="form_auth_img" src="/static/img/lock.svg">
            <input class="form_input" type="password" name="password" placeholder="Пароль">
          </div>
          <div>
            <img class="form_auth_img" src="/static/img/lock.svg">
            <input class="form_input" type="password" name="confirm_password" placeholder="Подтвердите пароль">
          </div>
          <a class="a" href="/auth">Войти</a>
          <p class="error">{{massage}}</p>
          <button class="form_reg_btn">Зарегестрироваться</button>
        </form>
      </div>
  </main>
{% endblock %}